extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  h1(class="mb-4") #{pageTitle}

  if(product.title)
    h3(class="mb-4") #{product.title}

  if(product.description)
    //- ! để hiểu đó là mã HTMl
    div(class="mb-4") Mô tả: !{product.description}

  if(product.price)
    div(class="mb-4") Giá: <b>#{product.price}$</b>

  if(product.discountPercentage)
    div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}</b>

  if(product.stock)
    div(class="mb-4") Số lượng: <b>#{product.stock}</b>

  if(product.stock)
    div(class="mb-4") Ảnh sản phẩm: 
      img(
        src=product.thumbnail
        style="width: 100px"
      )

  if(product.status)
    div(class="mb-4")
      span Trạng thái: 
      if(product.status == 'active')
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động
        
  if(product.position)
    div(class="mb-4") Vị trí: <b>#{product.position}</b>